.NAVLEADER {


    list-style-type:none;
display: flex;
justify-content: space-evenly;

}


.NAV {

    list-style-type:none;
display: flex;
justify-content: space-evenly;


}

.stuff {

     max-width: 500px;
    margin: 86px auto;   
}